/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*

 _______  _______  _        _______  _______  _______  _       
(  ____ \(  ____ \( (    /|(  ____ \(  ____ )(  ___  )( \      
| (    \/| (    \/|  \  ( || (    \/| (    )|| (   ) || (      
| |      | (__    |   \ | || (__    | (____)|| (___) || |      
| | ____ |  __)   | (\ \) ||  __)   |     __)|  ___  || |      
| | \_  )| (      | | \   || (      | (\ (   | (   ) || |      
| (___) || (____/\| )  \  || (____/\| ) \ \__| )   ( || (____/\
(_______)(_______/|/    )_)(_______/|/   \__/|/     \|(_______/

*/

body{
	font-family: 'Oxygen Mono', monospace;
	letter-spacing: 1pt;
	line-height: 110%;
	cursor: crosshair;
}


#conteneur{
	width: 100%;
}


section{
	width: 100%;
	position: center;
}


figcaption{
	opacity:0;
	pointer-events: none;
}

.liens{
	text-decoration: none;
	color: #c3dcdf;
}



a:hover {cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym57.cur), progress !important;}


/*

          _______  _______  ______   _______  _______ 
|\     /|(  ____ \(  ___  )(  __  \ (  ____ \(  ____ )
| )   ( || (    \/| (   ) || (  \  )| (    \/| (    )|
| (___) || (__    | (___) || |   ) || (__    | (____)|
|  ___  ||  __)   |  ___  || |   | ||  __)   |     __)
| (   ) || (      | (   ) || |   ) || (      | (\ (   
| )   ( || (____/\| )   ( || (__/  )| (____/\| ) \ \__
|/     \|(_______/|/     \|(______/ (_______/|/   \__/

*/

header{
	width: 100%;
}


#logo{
	width:42%;
	position:fixed;
	display: inline-block;
	vertical-align: top;
	margin:2.5% auto;
	margin-left: 10%;
	z-index: 3;
	display: none;
}


#baniere{
	width:100%;
	height: 15%;
	position: fixed;
	z-index: 2;
}


nav{
	width: 100%;
	position: fixed;
	z-index: 3;
	margin: 8%;
	margin-right: 5%;
}


li{
	font-size: 14pt;
	text-align: center;
	width: 30%;
	color: white;
	text-shadow: 3px 4px 5px #f3c1d7;
}



/*                                    
 _______  _                   _______  _______  _______ 
(  ____ \( (    /|  |\     /|(  ____ )(  ___  )(  ____ \
| (    \/|  \  ( |  | )   ( || (    )|| (   ) || (    \/
| (__    |   \ | |  | |   | || (____)|| (___) || |      
|  __)   | (\ \) |  ( (   ) )|     __)|  ___  || |      
| (      | | \   |   \ \_/ / | (\ (   | (   ) || |      
| (____/\| )  \  |    \   /  | ) \ \__| )   ( || (____/\
(_______/|/    )_)     \_/   |/   \__/|/     \|(_______/
                                    
*/


#sectionenvrac{
	width: 100%;
	display: inline-block;
	margin: auto;
}



.imgenvrac:hover{
	transform: scale(0.95,0.95);
	opacity: 0.8;
}


*{
	transition: all ease-in-out 1s;
}


#colonne1{
	width: 90%;
	float: left;
	margin-left: 5%;
	margin-top: 25% ;
	position: relative;
}

#colonne1 img{
	float:right;
	width: 100%;
}

#colonne2{
	width: 90%;
	float: left;
	margin-left: 5%;
	margin-top: 0% ;
	position: relative;
}

#colonne2 img{
	float: right;
	width: 100%;
}




/*

 _______      _______  _______  _______  _______  _______  _______ 
(  ___  )    (  ____ )(  ____ )(  ___  )(  ____ )(  ___  )(  ____ \
| (   ) |    | (    )|| (    )|| (   ) || (    )|| (   ) || (    \/
| (___) |    | (____)|| (____)|| |   | || (____)|| |   | || (_____ 
|  ___  |    |  _____)|     __)| |   | ||  _____)| |   | |(_____  )
| (   ) |    | (      | (\ (   | |   | || (      | |   | |      ) |
| )   ( |    | )      | ) \ \__| (___) || )      | (___) |/\____) |
|/     \|    |/       |/   \__/(_______)|/       (_______)\_______)

*/


#presentation{
	width: 100%;
	display: inline-block;
	margin: auto;
	/*border: 2px solid red;*/
}


#portraitphilo{
	width: 80%;
	margin-left: 7%;
	margin-top: 20%;
	position: relative;
}


#autoportrait{
	width: 70%;
	opacity: 0.85;
	margin-left: 18%;
	margin-top: 0%;
	display: block;
	margin-bottom: 30px;
}

#pourcontact{
	left: 0;
	top: 0;	
	margin-bottom: 20px;
}

#definition{
	width: 80%;
	/*border: 2px solid pink;*/
}

#bloc1{
	width: 100%;
	display: block;
	margin-left: -3%;
	margin-top: -150px;

}

#bloc2{
	width: 100%;
	margin-left: -3%;
	margin-top: 20px;
	margin-bottom: 40px;
}



p{
	font-size: 12pt;
	line-height: 16pt;

}


h1{
	color: grey;
	font-size: 11pt;
	margin-bottom: 20px;
}


h2{
	margin-bottom: 40px;
	font-size: 22pt;
	letter-spacing: 18pt;
	line-height: 24pt;
}

section{
	display: inline-block;
}



/*
 _______  _______  _______ _________ _______ _________ _______ 
(  ____ )(  ____ )(  ___  )\__    _/(  ____ \\__   __/(  ____ \
| (    )|| (    )|| (   ) |   )  (  | (    \/   ) (   | (    \/
| (____)|| (____)|| |   | |   |  |  | (__       | |   | (_____ 
|  _____)|     __)| |   | |   |  |  |  __)      | |   (_____  )
| (      | (\ (   | |   | |   |  |  | (         | |         ) |
| )      | ) \ \__| (___) ||\_)  )  | (____/\   | |   /\____) |
|/       |/   \__/(_______)(____/   (_______/   )_(   \_______)
                                                               

*/


h3{
	margin-bottom: 20px;
	font-size: 15pt;
	letter-spacing: 15pt;
	line-height: 24pt;
	text-decoration: none;
	color:black;
}


#colonne1 h3{
	width: 80%;
	margin-left: 0%;
}

#colonne2 h3{
	width: 80%;
	margin-left: 0%;
}


footer{
	width: 80%;
	font-size: 0.6em;
	margin-top: 40px;
	margin-bottom: 4%;
	opacity: 0.5;
	margin: auto;
}




/*
 _______  _______  _______ _________ _______ _________ _______  ______  
(  ____ )(  ____ )(  ___  )\__    _/(  ____ \\__   __/(  ____ \(  ___ \ 
| (    )|| (    )|| (   ) |   )  (  | (    \/   ) (   | (    \/| (   ) )
| (____)|| (____)|| |   | |   |  |  | (__       | |   | (_____ | (__/ / 
|  _____)|     __)| |   | |   |  |  |  __)      | |   (_____  )|  __ (  
| (      | (\ (   | |   | |   |  |  | (         | |         ) || (  \ \ 
| )      | ) \ \__| (___) ||\_)  )  | (____/\   | |   /\____) || )___) )
|/       |/   \__/(_______)(____/   (_______/   )_(   \_______)|/ \___/ 
                                                                         
*/


#bloc1{
	margin-top: -20%;
}


#definition{
	position: relative;
	top:20%;
	left: 5%;
	margin-bottom: 5px;
	width: 90%;
}


#intention{
	left: 0;
	top: 0;	
	margin-bottom: 20px;
}

#images{
	width: 90%;
	margin-left: 10%;
	margin-top: 0%;
	position: relative;
 
}

.images{
	width: 100%;
	margin-left: 7%;
	margin-top: 0%;
	margin-bottom: 5%;
	position: relative;
}


#reponses{
	margin-top: 20px;
	font-size: 8pt;
}





/* _______           _______ 
(  ____ \|\     /|(  ____ \
| (    \/| )   ( || (    \/
| (_____ | |   | || |      
(_____  )( (   ) )| | ____ 
      ) | \ \_/ / | | \_  )
/\____) |  \   /  | (___) |
\_______)   \_/   (_______) */


svg {
    transition : all 6s ease infinite;   
}




.cls-1{
	opacity: 0.4;
	width: 100%;
	height: 100%;
	animation: fond 5s ease infinite;
	fill: #F3C1D7;
}



.cls-2{
	transform-origin: center;
	animation: scale 2.5s ease infinite;
	fill: #FFFFFFFF;
}


.cls-2:hover{
	transform: scale(1.4);
	cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym57.cur), progress !important;
}


@keyframes fond {
0% {
	fill: #F6E826;
}

33% {
	fill: #F4C2D7;
}

66% {
	fill: #B3DDED;
}

100% {
	fill: #F6E826;
}
}




@keyframes scale {
  0% {
     transform: scale(1.1);
  }
  50%{
    transform: scale(1.12);
  }
  100%{
    transform: scale(1.1);
  }
}